@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Lato:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;    
    font-family: 'Lato', sans-serif; 
}
.navtop img{
  height: 100px;
  margin: auto;
}
@media screen and (max-width: 576px) {
  .navtop img{
      height: 60px;
    }
  
}

/* Cookies.html */

.cookie-pagina{
    background: #2d4471;
    margin: 0;
    padding-bottom: 20px;
}
.cookie-info{
    color: #fff;
    margin:0 20% 100px;
    /* text-align: center; */
}
.cookie-info h1{
    padding: 100px 0;
}
.cookie-info h6{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 30px 0;
}


@media screen and (max-width: 576px) {
  .cookie-info{
    margin:0 5% 100px;
  }
}




/* FOOTER */

.footer{
  padding: 200px 20% 100px;
  background-color: #2d4471;
  color: #fff;
}

.footer h4{
  padding: 30px 0 0 0;
}

.footer ul{
  padding: 0;
  font-size: 15px;
}

.footer ul li{
  list-style: none;
  margin: 5px 0px;
}

.footer ul li a{
  text-decoration: none;
  color: #fff;
}

.footer ul li a:hover{
  color: #f7f7f7;
}

/* copy */

.copy{
  padding: 0px 20% 10px;
  background-color: #2d4471;
  color: #EFEFEF;
  text-align: center;
}
.copy-img{
  width: 100px;
  padding-bottom: 20px;
}
.footer-img-col{
  width: 120px;
  padding: 30px 0;
  margin-left: 50px;
 }








/* HEADER / NAVBAR */

.hamburger{
    position: fixed;
    right: 45px;
    top: 20px;
    font-size: 50px;
    cursor: pointer;
    padding-top: 10px;
    color: #2d4471;
    z-index: 4;
  }
  
  .navtop{
    width: auto;
    height: 135px;
    background-color: #f7f7f7;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #2d4471;
    line-height: 135px;
    position: sticky;
    top: 0;
    z-index: 4;
  }

  .navtop a{
    text-decoration: inherit;
    color: inherit;
  }
  
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: #f7f7f7;
    overflow-y: hidden;
    transition: 0.3s;
  }
  
  .overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    padding: 5px 50px;
    line-height: 50px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #2d4471;
    display: block;
    transition: 0.3s;
  }
  
  /* .overlay a:hover, .overlay a:focus {
    color: goldenrod;
  } */
  
  .overlay .closebtn {
    position: absolute;
    top: 1px;
    right: 45px;
    font-size: 60px;
    color: #2d4471;
    padding-right: 3px;
    cursor: pointer;
  }
    
  @media screen and (max-width: 576px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay a:hover{color: none;}
    .overlay .closebtn {
    font-size: 30px;
    right: 25px;
    }
    .hamburger{
      font-size: 25px;
      top: 12px;
      right: 25px;
    }
    .navtop{
    font-size: 20px;
    height: 80px;
    line-height: 80px;
    }

    .footer{
      padding: 100px 5%;
      }
      .footer-img-col{
        display: none;
      }
    }
    
  /* FULL SCREEN */
    @media screen and (min-width: 576px) {
  .copy-img{
    display: none;
  }
    }
  